{% extends "layout.html" %}

{% block main %}
    <div class="landing-cards">
        <div class="landing-card card1">
            <div class="card-title">History</div>
            <div class="card-question">What was the main cause of the American Civil War?</div>
            <div class="card-answer">The primary cause was the conflict over slavery ⚔️ and states’ rights, which led Southern states to secede from the Union 🇺🇸.</div>
        </div>
        <div class="landing-card card2">
            <div class="card-title">Geography</div>
            <div class="card-question">Which river is the longest in the world?</div>
            <div class="card-answer">The Nile River 🏞️ is the longest, flowing through northeastern Africa, primarily Egypt 🇪🇬 and Sudan 🇸🇩.</div>
        </div>
        <div class="landing-card card3">
            <div class="card-title">Math</div>
            <div class="card-question">What is the Pythagorean theorem?</div>
            <div class="card-answer">It states that in a right triangle, the square of the hypotenuse equals the sum of the squares of the other two sides.</div>
        </div>
        <div class="landing-card card4">
            <div class="card-title">Literature</div>
            <div class="card-question">Who wrote “Romeo and Juliet”?</div>
            <div class="card-answer">William Shakespeare ✍️.</div>
        </div>
        <div class="landing-card card5">
            <div class="card-title">Physics</div>
            <div class="card-question">What is Newton’s second law of motion?</div>
            <div class="card-answer">It states that Force equals mass times acceleration (F = ma) 💪, describing how an object’s motion changes when a force is applied.</div>
        </div>
    </div>
    <div class="landing-content position-absolute top-50 start-50 translate-middle">
        <h1>
            Learn anything faster with <span class="landing-brand">Fleshka</span>:<br>
            Sleek design, Intuitive features
        </h1>
        <a href="/signup" class="btn btn-primary landing-cta">Get started</a>
    </div>
{% endblock %}